[user]
	name = noahhusby
	email = 32528627+noahhusby@users.noreply.github.com
	signingKey = 8EE68990
[push]
	autoSetupRemote = true
[commit]
	gpgsign = true
[gpg]
	program = gpg
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[core]
	editor = nano
